body {
	width: 400px;
	margin: 100px auto;
	font-family: sans-serif;
}

.guestbook-entry {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.form-field {
	margin-bottom: 20px;
}

.form-field label {
	font-weight: bold;
	display: block;
}

.form-field input,
.form-field textarea {
	width: 100%;
}